span.alert {
  display: inline-block;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold ! important;
  margin-right: 8px;
  min-width: 24px;
  padding: 0 1px;
  text-align: center;
  width: auto;
}

span.alert.default {
  background-color: #e8eef4;
  color: #db7422;
  text-shadow: none;
}

span.alert.success {
  background-color: #4babef;
  color: #fff;
  text-shadow: 0 -1px 0 #7a7a7a;
}

span.alert.error {
  background-color: #f35959;
  color: #fff;
  text-shadow: 0 -1px 0 #7a7a7a;
}

span.alert.warning {
  background-color: #ffc625;
  color: #09416d;
  text-shadow: 0 1px 0 #fff;
}
