<nav class="nav-main ui-tabmenu ui-widget ui-widget-content ui-corner-all">
  <ul class="ui-tabmenu-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
    <li class="ui-tabmenuitem ui-state-default ui-corner-top" routerLinkActive="ui-state-active">
      <a class="ui-menuitem-link ui-corner-all" [routerLink]="['./search']">
        <span class="ui-menuitem-icon fa"></span>
        <span class="ui-menuitem-text">Преглед и търсене на документи</span>
      </a>
    </li>
    <li class="ui-tabmenuitem ui-state-default ui-corner-top" routerLinkActive="ui-state-active">
      <a class="ui-menuitem-link ui-corner-all" [routerLink]="['./assigned']">
        <span class="ui-menuitem-icon fa"></span>
        <span class="ui-menuitem-text">За обработка</span>
      </a>
    </li>
    <li class="ui-tabmenuitem ui-state-default ui-corner-top" routerLinkActive="ui-state-active">
      <a class="ui-menuitem-link ui-corner-all" [routerLink]="['./monitored']">
        <span class="ui-menuitem-icon fa"></span>
        <span class="ui-menuitem-text">Наблюдавани документи</span>
      </a>
    </li>
    <li class="ui-tabmenuitem ui-state-default ui-corner-top" routerLinkActive="ui-state-active">
      <a class="ui-menuitem-link ui-corner-all" [routerLink]="['./locked']">
        <span class="ui-menuitem-icon fa"></span>
        <span class="ui-menuitem-text">Заключени документи</span>
      </a>
    </li>
    <li class="ui-tabmenuitem ui-state-default ui-corner-top" routerLinkActive="ui-state-active">
      <a class="ui-menuitem-link ui-corner-all" [routerLink]="['./expired']">
        <span class="ui-menuitem-icon fa"></span>
        <span class="ui-menuitem-text">Срокове и известия</span>
      </a>
    </li>
    <li class="ui-tabmenuitem ui-state-default ui-corner-top" routerLinkActive="ui-state-active">
      <a class="ui-menuitem-link ui-corner-all" [routerLink]="['./notes']">
        <span class="ui-menuitem-icon fa alert default"></span>
        <span class="ui-menuitem-text">Бележки в документи</span>
      </a>
    </li>
  </ul>
</nav>

<div class="inner-wrap">
  <div id="content">
    <div id="leftside">
      <!--<sd-tree></sd-tree>-->
    </div>

    <div id="main">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

<!--<sd-edit-document></sd-edit-document>-->
<!--<sd-edit-container></sd-edit-container>-->
